*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: var(--Dark-Slate-Grey);
}
:root{
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max(100vh);
    background-color: var(--Charcoal-Grey);
}
.login-container{
  box-sizing: border-box;
    padding: 1rem;
    display: grid;
    grid-template-areas: 
    'panel-1 panel-2';
    width: fit-content;
    height: max-content;
    background-color: var(--White);
    border-radius: 1.50rem;
    overflow: hidden;
}
.panel-1{
  margin: auto;
  grid-area: panel-1;
  padding: 2rem;
  width: 350px;
  height: auto;
}
.panel-2{
    grid-area: panel-2;
    width: 350px;
}
.panel-2 > img{
  width: 100%;
}
.success-panel{
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  margin: auto;
  padding: 2rem;
  position:fixed;
  height: fit-content;
  width: 40vh;
  background-color: var(--White);
  border-radius: 1.50rem;
  box-shadow: 0 0px 5px 0px #dedede;
  display: none;
}
ul{
  margin-bottom: 0.5rem;
}
li{
    display: flex;
    list-style: none;
    padding: 0.4rem 0.4rem 0.4rem 0rem;
    align-items: center;
}
label{
  margin-top: 2rem;
  font-size: 0.65rem;
}
.textbox{
  box-sizing: border-box;
  height: 7vh;
  width: 100%;
  border: 2px solid var(--Grey);
  border-radius: 0.4rem;
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.4rem 0.4rem 0.4rem 1rem;
  border-style: solid;
  transition: 140ms ease;
}
.textbox:hover{
  color: var(--Dark-Slate-Grey);
  border-color: var(--Dark-Slate-Grey);
}

.btn{
  color: var(--White);
  background-color: var(--Dark-Slate-Grey);
  height: 7vh;
  width: 100%;
  border-style: none;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
  transition: 140ms ease;
  cursor: pointer;
}
.btn:hover{
  background-color: var(--Charcoal-Grey);
}
.incorrect{
  color: red;
  background-color: rgba(255, 0, 0, 0.164);
  border-color: red;
}
.incorrect label{
  color: red;
  }
#error-message{
  color: red;
}
.correctf{
  color: greenyellow;
  background-color: rgba(126, 252, 0, 0.144);
  border-color: green;
}
.space{
  display: flex;
  justify-content: space-between;
}
li > img{
    margin-right: 1rem;
}
h1{
  font-size: 2.95rem;
  margin-bottom: 1.5rem;
}
p{
    font-size: 0.95rem;
}

@media only screen and (max-width:768px) {
  .login-container{
    padding: 1rem;
    display: grid;
    grid-template-areas: 
    'panel-1 panel-2';
    width: 100%;
    height: fit-content;
    background-color: var(--White);
    overflow: hidden;
    border-radius: 0;
}
.panel-1{
  width: min(300px,100%);
}
.panel-2{
  overflow: hidden;
}
}
@media only screen and (max-width:425px) {
  .login-container{
    padding: 0;
    display: grid;
    grid-template-areas: 
      'panel-2'
      'panel-1';
    height: 100%;
    width: min(600px, 100%);
    background-color: var(--White);
    overflow: hidden;
    border-radius: 0;
}
.panel-1{
  width: auto;
  margin: auto;
  padding: 0.7rem;
  grid-area: panel-1;
}
.panel-2 {
  box-sizing: border-box;
  overflow: hidden;
  width: min(425px,100%);
}
.panel-2 > img{
  margin: auto;
  width: 100%;
}
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  